user {{ nginx_user_name }};
worker_processes 1;

error_log /var/log/nginx/error.log warn;
pid /var/run/nginx.pid;

events {
  worker_connections 1024;
}

http {
  include   /etc/nginx/mime.types;
  default_type  application/octet-stream;
  
  log_format main '$remote_addr - $remote_user [$time_local] "$request" '
                  '$status $body_bytes_sent "$http_refer" '
                  '"$http_user_agent" "http_x_forwarded_for"';
  access_log  /var/log/nginx/access.log main;

  sendfile  on;
  #tcp_nopush on;
  
  keepalive_timeout 65;
  
  gzip  on;
  
  include /etc/nginx/conf.d/*.conf;
}
   server {
       listen       80;
       listen       [::]:80;
       server_name _;
       location / {
                proxy_pass http://127.0.0.1:5000/api/*;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
       root         /usr/share/nginx/html;

        # Load configuration files for the default server block.
        include /etc/nginx/default.d/*.conf;

        error_page 404 /404.html;
        location = /404.html {
        }

        error_page 500 502 503 504 /50x.html;
        location = /50x.html {
        }
    }
